body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 300px;
    color: white;
}

/* Tabelle */
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Zellen */
td {
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: white;
    border: 5px solid white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Außenlinien entfernen */
tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

 #content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.restart-button:hover {
    background-color: #45a049;
}